:root {
  --primary: #ebc908;
  --primary-text: #ffffff;
  --secondary: #ff1dec;
  --buttons-primary: #09080a;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #ffffff;
  --metamask-button-bg: #72d448;
  --opensea-bagel: #1b87cf;
}

#canvas {
  width: 50%;
  height: 50%;
}
